#header{
    padding-left: 12px;
    padding-right: 16px;
    position: relative;
    z-index: 4;
    font-size: 18px;
    background-color: #A532D3;
    color: #282a35;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

#logo{
    height: 100px;
    
    margin-right: 50px;
}

#header a{
    font-size: 22px;
    color:aliceblue;
    /* margin: 5px;
    border:solid;
    border-radius: 25px;
    box-sizing: border-box; */
    padding: 5px;
}