#header {
  padding-left: 12px;
  padding-right: 16px;
  position: relative;
  z-index: 4;
  font-size: 18px;
  background-color: white;
  color: #282a35;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
